@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@mixin content__btn($color) {
  width: 155px;
  height: 37px;
  background: transparent linear-gradient(90deg, #fa41cc 0%, #6020b0 100%) 0% 0% no-repeat
    padding-box;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  a {
    text-decoration: none;
    color: $color;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
  }
}

@mixin sec__ttl($padding, $height) {
  text-align: center;
  padding-top: $padding;
  h3 {
    font-size: 32px;
    line-height: $height;
    padding-bottom: 10px;
  }
  p {
    margin: 0 auto;
    color: #3ba6c9;
    width: 81px;
    line-height: 24px;
  }
}

@mixin sec2__feature($height) {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 86px;
  h5 {
    font-size: 24px;
    line-height: 48px;
    padding-bottom: 45px;
  }
  p {
    font-size: 16px;
    line-height: $height;
  }
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  width: 100%;
  font-weight: bold;
}

.header1 {
  background-color: white;
  position: fixed;
  z-index: 100;
  height: 94px;
  display: flex;
  width: 100%;
  align-items: center;
  box-shadow: 0px 9px 3px -3px rgba(0, 0, 0, 0.3);

  &__inner {
    margin: 0 auto;
    width: 100%;
    padding-left: 192px;
    padding-right: 193px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-ttl {
      display: flex;
      h1 {
        padding-left: 20px;
        font-size: 24px;
        line-height: 35px;
        margin: auto;
        a {
          color: black;
          text-decoration: none;
        }
      }
      img {
        width: 47px;
        height: 47px;
      }
    }

    &-nav {
      nav {
        ul {
          display: flex;
          flex-wrap: no-wrap;
          li {
            padding: 10px;
            a {
              color: black;
              font-size: 16px;
              line-height: 24px;
              text-decoration: none;
            }
          }
        }
      }
    }
    &-btn {
      @include content__btn(#fff);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    position: fixed;
    z-index: 100;
    &__inner {
      width: 80%;
      padding: 0;
      h1 {
        font-size: 24px;
      }
      img {
        width: 30px;
        height: 30px;
      }
      &-nav {
        display: none;
      }
      &-btn {
        display: none;
      }
    }
  }

  @media (max-width: 767px) {
    width: 100%;
    &__inner {
      width: 90%;
      padding: 0;

      h1 {
        font-size: 24px;
        margin-left: 0;
      }

      img {
        width: 10%;
        height: 10%;
        padding-left: 20px;
      }
      &-nav {
        display: none;
      }
      &-btn {
        display: none;
      }
    }
  }
}
.burger-btn {
  display: none;
  width: 39px;
  height: 39px;
  position: relative;
  z-index: 300;
  border: none;
  margin-right: 40px;
  @media screen and(max-width:1023px) {
    display: block;
  }
}
.bar {
  width: 40px;
  height: 1px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #9e9e9e;
  &_top {
    top: 10px;
  }
  &_mid {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &_bottom {
    bottom: 10px;
  }
}
.burger-btn.close .bar_top {
  transform: translate(-50%, 10px) rotate(45deg);
  transition: transform 0.3s;
}

.burger-btn.close .bar_mid {
  opacity: 0;
  transition: opacity 0.3s;
}
.burger-btn.close .bar_bottom {
  transform: translate(-50%, -8px) rotate(-45deg);
  transition: transform 0.3s;
}

.nav-wrapper {
  display: none;
  width: 70vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 70%;

  z-index: 200;
}
.header-nav {
  width: 100%;
  height: 100%;
  background-color: #1b1310;
  z-index: 200;
}
.nav-list {
  display: block;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -30%);
  text-align: center;
}
.nav-item {
  margin-right: 0;
  margin-bottom: 40px;
  a {
    text-decoration: none;
    color: #fff;
    @media screen and(max-width:767px) {
      font-size: 12px;
    }
  }
}

.sec01 {
  width: 100%;
  height: 674px;
  display: flex;
  background-image: url(https://JunSasaki0077.github.io/yourcoding/img/circle.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top -35px right -120px;
  &__inner {
    width: 100%;
    margin: 0 auto 90px auto;
    padding: 225px 172px 0 192px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &-about {
      h2 {
        display: inline-block;
        font-size: 32px;
        height: 138px;
        line-height: 54px;
      }
      p {
        width: 254px;
        padding: 45px 0;
        height: 96px;
        line-height: 27px;
      }
      &Btn {
        @include content__btn(#fff);
      }
    }

    img {
      height: 430px;
      width: 518px;
      position: relative;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 100%;
    height: 100%;
    text-align: center;

    background-position: top -120px right 50px;
    &__inner {
      padding: 150px 0 0;
      width: 90%;
      margin-bottom: 200px;

      &-about {
        h2 {
          font-size: 28px;
          text-align: left;
        }
        p {
          margin: 0;
          text-align: left;
        }
      }
      &-aboutBtn {
        float: left;
      }

      img {
        height: auto;
        width: 55%;
        padding-top: 45px;
      }
    }
  }
  @media (max-width: 767px) {
    width: 100%;
    height: 100%;

    &__inner {
      padding: 150px 0 0;
      display: block;
      width: 90%;
      text-align: center;
      &-about {
        display: block;
        margin: 0 auto;

        br {
          display: none;
        }
        p {
          margin: 0 auto;
        }
      }
      &-aboutBtn {
        display: block;
        margin: 0 auto;
      }
      img {
        width: 90%;
        padding-top: 40px;
      }
    }
  }
}

.sec02 {
  &__ttl {
    @include sec__ttl(94px, 46px);
  }

  h4 {
    padding-top: 57px;
    text-align: center;
    font-size: 28px;
    line-height: 26px;
  }
  #subTtl {
    line-height: 40px;
  }

  &__feature1 {
    @include sec2__feature(26px);
  }
  &__feature2 {
    @include sec2__feature(26px);
    &-about {
      order: 2;
    }
    img {
      order: 1;
    }
  }

  &__feature3 {
    @include sec2__feature(28px);
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 0;
    &__feature1,
    &__feature2,
    &__feature3 {
      display: block;
      text-align: center;

      img {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }
  }
  @media (max-width: 375px) {
    &__feature1,
    &__feature2,
    &__feature3 {
      width: 90%;
      display: block;
      margin: 0 auto;
      text-align: center;
      br {
        display: none;
      }

      &-about {
        h5 {
          line-height: 28px;
        }
      }
      img {
        width: 80%;
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }
  }
}

.sec03 {
  background-color: #eefbfb;
  margin-top: 86px;
  &__ttl {
    @include sec__ttl(55px, 28px);
    h3 {
      line-height: 28px;
    }
    p {
      padding-top: 0;
    }
  }

  table {
    border: 1px solid #e5e5e5;
    background-color: white;
    margin: 0 auto;
    width: 926px;
    height: 410px;
    box-shadow: 0px 3px 6px #00000029;

    th {
      font-size: 16px;
      line-height: 28px;
      width: 34%;
      border: 1px solid #e5e5e5;
      vertical-align: middle;
      padding: 35px 34.5px 34.5px 19px;
    }
    td {
      padding-left: 30.5px;
      font-size: 16px;
      line-height: 28px;
      width: 70%;
      vertical-align: middle;
      border: 1px solid #e5e5e5;
    }
  }
  p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    padding-top: 36px;
    padding-bottom: 68px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    table {
      width: 90%;
      th {
        width: 30%;
      }
    }
  }
  @media screen and (max-width: 767px) {
    table {
      width: 90%;
      height: auto;
      tr {
        th,
        td {
          display: block;
          width: 100%;
          text-align: center;
          padding: 10px 0;
          height: auto;
        }
      }
    }
    p {
      margin: 0 auto;
      width: 60%;
    }
  }
}

.sec04 {
  &__ttl {
    @include sec__ttl(55px, 28px);

    p {
      padding-bottom: 32px;
    }
  }
  &__acmenu {
    margin: 0 auto;
    text-align: center;
    position: relative;
    width: 907px;
    outline: 0;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    dt {
      position: relative;
      margin: 0;
      border: 1px solid #e5e5e5;
      background: #ffffff 0% 0% no-repeat padding-box;
      padding: 0.625em 0.625em 0.625em 2em;
      font-size: 14px;
      line-height: 26px;

      cursor: pointer;
    }
    &__open {
      display: block;
    }
    dd {
      position: relative;
      border: 1px solid #e5e5e5;
      margin: 0;
      padding: 0.625em 0.625em 0.625em 2em;
      font-size: 14px;
      line-height: 26px;
      background: #f2f2f2 0% 0% no-repeat padding-box;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    &__acmenu {
      width: 90%;
      br {
        display: none;
      }
    }
  }
  @media screen and (max-width: 767px) {
    &__acmenu {
      width: 90%;
      br {
        display: none;
      }
    }
  }
}
.sec05 {
  margin-top: 86px;
  background-color: #eefbfb;
  height: 668px;
  &__ttl {
    @include sec__ttl(55px, 28px);
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;

    &-item {
      background: #fff;
      margin-top: 54px;
      margin-right: 30px;
      width: 389px;
      height: 387px;
      box-shadow: 0px 3px 6px #00000029;
      line-height: 26px;
      position: relative;

      img {
        height: 260px;
      }
      h4 {
        font-size: 18px;
        text-align: left;
        padding-top: 14px;
        padding-left: 10px;
      }
      p {
        font-size: 16px;

        position: absolute;
        bottom: 10px;
        right: 32px;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    height: auto;
    padding-bottom: 40px;
    &__content {
      display: block;

      &-item {
        width: 70%;
        margin: 40px auto 0 auto;
        img {
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    height: auto;

    &__content {
      display: block;
      padding-bottom: 40px;

      &-item {
        width: 90%;
        margin: 40px auto 0 auto;
        br {
          display: none;
        }
        img {
          width: 100%;
        }
        p {
          bottom: 0;
        }
      }
    }
  }
}

.sec06 {
  margin-bottom: 90px;
  &__ttl {
    @include sec__ttl(68px, 28px);
    padding-bottom: 68px;
  }

  &__content {
    display: flex;
    &-item {
      margin-right: 56px;
      width: 322px;
      height: 407px;
      border: 1px solid #dddddd;
      border-radius: 8px;

      img {
        width: 100%;
        height: 210px;
      }
      h4 {
        font-size: 16px;
        line-height: 24px;
        padding-left: 18px;
        padding-top: 18px;
        margin-bottom: 30px;
      }
      ul {
        list-style: none;
        margin-bottom: 40px;
      }
      li {
        padding-left: 18px;

        font-size: 14px;

        line-height: 20px;
      }
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 50%;
      }
      @media screen and (max-width: 767px) {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}

.sec07 {
  padding-bottom: 70px;
  background: transparent linear-gradient(90deg, #05a5fa 0%, #63fbd7 100%, #67ffd6 100%) 0% 0%
    no-repeat padding-box;
  &__ttl {
    @include sec__ttl(63px, 28px);
    color: #fff;
    p {
      color: #fff;
    }
    h4 {
      font-size: 16px;
      line-height: 24px;
      padding-top: 36px;
      padding-bottom: 44px;
    }
  }
  &__form {
    margin: 0 auto;
    width: 908px;
    height: 689px;
    padding-left: 63px;
    padding-top: 34px;
    background-color: #fff;
    &-item {
      label {
        display: flex;
        font-size: 16px;

        line-height: 26px;
        p {
          text-align: center;
          background-color: #0c449b;
          color: #fff;
          margin-bottom: 39px;
          margin-left: 23px;
          border-radius: 10px;
          padding: 4px 16px 6px 16px;
          font-size: 14px;
        }
      }
      input {
        width: 499px;
        height: 43px;
        background-color: #eefbfb;
        border-radius: 3px;
        border: 1px solid transparent;
        margin-bottom: 21px;
      }
      textarea {
        resize: none;
        width: 783px;
        height: 179px;
        border-radius: 3px;
        border: 1px solid transparent;
        background-color: #eefbfb;
      }
    }
    &-checkbox {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 27px;
      margin-bottom: 38px;
      input {
        width: 20px;
        height: 20px;
        border-color: #707070;
        margin-right: 10px;
      }
      p {
        font-size: 16px;
        line-height: 28px;
      }
    }
    &-submit {
      text-align: center;
      &-btn {
        @include content__btn(#fff);
      }
    }
    &-endMessage {
      display: none;
      text-align: center;
    }

    &-falseMessage {
      color: red;
      display: none;
      text-align: center;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    &__form {
      width: 80%;
      &-item {
        input {
          width: 90%;
        }
        textarea {
          width: 90%;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    &__form {
      width: 90%;
      padding-left: 20px;
      &-item {
        input {
          width: 90%;
        }
        textarea {
          width: 90%;
        }
      }
    }
  }
}

.footer1 {
  background-color: #f8f8f8;
  text-align: center;
  h3 {
    font-size: 24px;
    line-height: 28px;
    padding-top: 43px;
  }
  ul {
    display: flex;
    justify-content: center;
    padding-bottom: 52px;
    padding-top: 21px;
    a {
      text-decoration: none;
      color: #333333;
      padding-right: 29px;
      font-size: 16px;

      line-height: 28px;
    }
  }
  p {
    font-size: 13px;
    line-height: 20px;
    font-weight: normal;
    padding-bottom: 49px;
  }

  @media screen and (max-width: 767px) {
    h3 {
      font-size: 20px;
    }

    ul {
      padding-bottom: 20px;
      a {
        padding-right: 20px;
        font-size: 12px;
      }
    }
  }
}
