
header.header
  section.header__inner
    .header__inner-ttl
      img(src="https://JunSasaki0077.github.io/yourcoding/img/logo.png" alt="ロゴ")
      h1
        a.topmove(href="#top") ユアコーディング
    .header__inner-nav
      include ./_gnav
    button.header__inner-btn
      a.topmove(href="#contact") お問い合わせ
  .nav-wrapper
    nav.header-nav
      ul.nav-list
        li.nav-item
          a.topmove(href="#featur") 特徴
        li.nav-item
          a.topmove(href="#price") 価格
        li.nav-item
          a.topmove(href="#contact") お問い合わせ
  .burger-btn
    span.bar.bar_top
    span.bar.bar_mid
    span.bar.bar_bottom

