meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="robots" content="noindex")
meta(name="title" content="コーディングの手間を最小にデザインに注力する助けに｜ユアコーディング")
meta(name="description" content="ユアコーディングはコーディングに 特化したフリーランス デザインに注力されたい方の 助けになります")
meta(property="og:type" content="website" )
meta(property="og:url" content="https://metatags.io/" )
meta(property="og:title" content="コーディングの手間を最小にデザインに注力する助けに｜ユアコーディング")
meta(property="og:description" content="ユアコーディングはコーディングに 特化したフリーランス デザインに注力されたい方の 助けになります")
meta(property="og:image" content="https://metatags.io/assets/meta(tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png")
meta(property="twitter:card" content="summary_large_image" )
meta(property="twitter:url" content="https://metatags.io/" )
meta(property="twitter:title" content="コーディングの手間を最小にデザインに注力する助けに｜ユアコーディング")
meta(property="twitter:description" content="ユアコーディングはコーディングに 特化したフリーランス デザインに注力されたい方の 助けになります")
meta(property="twitter:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png")
